<%- include('_head.ejs') %>

<br/>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-fire"></i>&nbsp; CPU Load Generator</h2>
    </div>
    <div class="panel-body">
        <h3>I did some really hard sums and it only took me <%= time %> milliseconds!</h3>
    </div>
</div>

<%- include('_foot.ejs') %>