<%- include('_head.ejs') %>

<div class="card text-white bg-secondary">
  <div class="card-header bg-info h3"><i class="fa fa-globe"></i>&nbsp; Geolocated Weather</div>
  <div class="card-body">
    <div class="alert alert-warning fade" role="alert" id="error" style="color: #222">
    </div>
    <table>
      <tr>
        <td> <canvas id="weather_icon" width="256" height="256"></canvas> </td>
        <td class="weather-info">
          <ul id="weather-list"></ul>
        </td>
      </tr>
    </table>       
  </div>
</div>

<div>
<img src="images/darksky.png" height="64px"/>
</div>

<script src='js/skycons.js'></script>
<script>
  if (navigator.geolocation) {
    $('#error').addClass('hide');
    navigator.geolocation.getCurrentPosition(getWeather, (err) => {  
      let errMessage = err.message;
      if(err.message.startsWith("Only secure origins are allowed")) {
        errMessage = "getCurrentPosition API only works on secure (HTTPS) domains";
      } 
      $('#error').addClass('show');
      $('#error').text(errMessage + ". Will fall back to showing weather for London");
      getWeather({ coords: { latitude: 51.40329, longitude: 0.05619 }})
    });
  } else {
    $('#error').addClass('show');
    $('#error').text("Geolocation is not supported by this browser. Maybe it's time to upgrade!");
    getWeather({ coords: { latitude: 51.40329, longitude: 0.05619 }})
    console.err("Geolocation is not supported by this browser.");
  }

  function getWeather(pos) {
    let lat = pos.coords.latitude;    //51.40329 
    let long = pos.coords.longitude;  //0.05619 
    $.get(`/api/weather/${lat}/${long}`, weather => {
      var skycons = new Skycons({ "color": "#3498db" });
      skycons.add("weather_icon", weather.icon);
      skycons.play();

      $('#weather-list').append(`<li>The weather currently is: &nbsp; ${weather.summary}</li>`)
      $('#weather-list').append(`<li>The temperature is: &nbsp; ${weather.temp}°C</li>`)
      $('#weather-list').append(`<li>Chance of rain is: &nbsp; ${weather.precip}%</li>`)
      $('#weather-list').append(`<li>Wind speed is: &nbsp; ${weather.wind}mph</li>`)
      $('#weather-list').append(`<li>UV index is: &nbsp; ${weather.uv}</li>`)
      $('#weather-list').append(`<hr/>`)
      $('#weather-list').append(`<li>Forecast today: &nbsp; ${weather.forecastShort}</li>`)
      $('#weather-list').append(`<li>Forecast week: &nbsp; ${weather.forecastLong}</li>`)
    }).fail(function(jqXHR, textStatus, errorThrown) {
      $('#weather-list').append(`<h3 style="color:#e84640">API Error: ${errorThrown.toString()}</h3>`)
    });
  }
</script>

<%- include('_foot.ejs') %>