  </div> <!-- closes the div container body-content -->

  <div class="footnote">v<%= version %> - Ben Coleman, 2021</div>
</body>

<!-- Area for invisible CI/CD trigger changes and stuff -->

</html>